<!doctype html>
	<html ng-app="myApp">
	<head>
		<link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
    
    </head>
    <style >
     .list{
        background-color: blue;
        height: 30px;
        margin-top: 30px;
          }
     .list li{
        display: inline-block;
        color:red;
        padding-top: 5px;
        
      }
      .list li:hover{
        background: black;
        height: 30px;
      }
      </style>

    <h1 class="text-center"><b>welcome to angular</b></h1>
    <body ng-controller="myCtrl">
      <div class="col-md-offset-3 col-md-6 container">
     	<div class="text-center  "><input type="text"   ng-model="frominput" placeholder='search'></div>
     	<br/>
     	<table class= "table table-bordered table-striped text-center">
     		<tr >
            <th class="text-center ">index</th>
            <th class="text-center ">username</th>
            <th class="text-center">password</th>
            <th class="text-center">type</th>
            <th class="text-center ">delete</th>
            </tr>
            <tr ng-repeat ="data in myArray | filter:frominput | orderBy : 'username'  ">
            <td>{{$index+1}}</td>
            <td>{{data.username}}</td>
            <td>{{data.password}}</td>
            <td>{{data.type}}</td>
            <td><i class="glyphicon glyphicon-trash" ng-click = "fnDel($index)"></i>
                <i class="glyphicon glyphicon-edit" ng-click = "fnEdit()"></i>
            </td>
            </tr>
        </table>
     </div>
     <form>
         <div class="col-md-offset-3 col-md-6 jumbotron">
          <h1 class="text-center">sign up form</h1>
        <div class ="form-group">
      <lable >username</label>
        <input type="text" class="form-control" placeholder="enter your name" ng-model = "uname"/>
     </div>
     <div class ="form-group ">
      <lable >password</label>
      <input type="password" class="form-control" placeholder="enter secure password" ng-model ="passwrd"/>

     </div>
     <div class ="form-group ">
      <lable  >select-option</label>
      
      <select  class="form-control"  ng-model ="select">
       <option>registration</option>
       <option>guest login</option>
       <option>login</option>
      </select>
     </div>
     <div class="text-center">
        <button class="btn-success btn-lg" data-toggle="tooltip" data-placement="bottom" data-title="click on this" ng-click="whenSubmit()">submit<button>
        <button class="btn-success btn-lg" ng-click="whenUpdate()">update<button>
     </div>
   </div>
   </form>
   <br/>
    
   <div class=" col-md-offset-3 col-md-6">
     <ul class="list" >
     <li class ="col-md-3 " data-toggle="tooltip" data-placement="bottom" title="using tooltip">Home</li>
     <li class ="col-md-3">sign up</li> 
     <li class ="col-md-3">contact us</li> 
     <li class ="col-md-3">details</li>
     </ul>
   </div>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" ></script>
<script type="text/javascript" src = "../js/jquery-1.11.3.js"></script>
   <script type="text/javascript" src= "../js/angular.js"></script>
   <script type="text/javascript">
   
   angular.module('myApp', []).controller('myCtrl',function($scope){
   /*	$scope.myArray = [ { number: 2, name: 'arun'} ,
   	                   {number : 1, name: 'kumar' } ,
   	                   {number : 10, name: 'kumar' },
   	                   {number : 5, name: 'laxfsdfdf' },
                       {number : 11, name: 'kumari' } ];
       
               });*/

    $scope.myArray= [];
    $scope.whenSubmit = function () {
      $scope.myArray.push({username:$scope.uname,password:$scope.passwrd ,type:$scope.select});
      $scope.uname ='';
      $scope.passwrd='';
      $scope.select='';
    }
    });

    $scope.fnDel = function(index){
    $scope.myArray.splice(index,1);
    console.log($scope.myArray);
   };
   
   </script>
   <script >
    $(document).ready(function () {
   $('[data-toggle="tooltip"]').tooltip()
   
    });
   </script>

    </body>
    </html>